html{
    font-family: Arial, Helvetica, sans-serif;
}

.grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-left: 2rem;
    
}
.quote{
    display: grid;
    grid-column: 1 /2;
}

.link{
    color: black;
    text-decoration: none;
    color: none;
    font-size: 16px;
}

.button{
    display: block;
    width: 150px;
    height: 50px;
    background: lightgray;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    position: 5rem;
    grid-column: 1/ 2;
}

.dog{
    display: block;
    width: 150px;
    height: 50px;
    background: lightgray;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    position: 5rem;
    grid-column: 1/ 2;
    margin-top: 4rem;
}
.cat{
    display: block;
    width: 150px;
    height: 50px;
    background: lightgray;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    position: 5rem;
    grid-column: 1/ 2;
    margin-top: 2rem;
}


.link:hover{
    color:rgb(173, 201, 0184);
}


.other{
    font-size: 12px;

}
.work{
    font-weight: bold;
    font-size: 16px;
    padding-left: 2rem;
}

header{
    display: grid;
    font-weight: bold;
    font-size: 16pt;
}
header h1{
    display: grid;
    padding-top: 2rem;
    padding-left: 2rem;
}
header h2{
    padding-top: 2rem;
    grid-column: 2 / 2;
    font-size: 12px;

}


h1{
    font-weight: bold;
    font-size: 18pt;
   
}
h2{
    font-weight: bold;
    font-size: 16px;
    padding-left: 2rem;
  

   
}
h3{
    font-weight: bold;
    font-size: 16px;
    padding-left: 2rem;
}

.pink{
    display: grid;
    font-weight: bold;
    font-size: 24px;
    padding-top: 2rem;
}


img{ 
    padding-right: 4rem;
    padding-left: 16rem;
    padding-top: 1rem;

}

main p{
    font-size: 16px;
    padding-left: 2rem;
}

.ln{
    padding-bottom: 1rem;
    padding-top: 1rem;
    padding-right: 2rem;
    padding-left: 2rem;
    
    
}
.th{
    padding-bottom: 4rem;
}

.summary{
    font-size: 16px;
    padding-left: 2rem;
    padding-top: 1rem;
    padding-bottom: 4rem;
    padding-right: 2rem;
    text-indent: .5rem;
}
.wp{
    font-size: 16px;
    padding-left: 2rem;
    padding-top: 1rem;
    padding-bottom: 4rem;
    padding-right: 2rem;
    text-indent: .5rem;
}
.cp{
    font-size: 16px;
    padding-left: 2rem;
    padding-top: 1rem;
    padding-bottom: 4rem;
    padding-right: 2rem;
    text-indent: .5rem;
}
.cd{
    padding-bottom: 2rem;
}

.hf{
    font-size: 16px;
    padding-left: 2rem;
    padding-top: 1rem;
    padding-bottom: 4rem;
    padding-right: 2rem;
    text-indent: .5rem;
}
.hfd{
    padding-bottom: 2rem;
}
.tasty_simple h2{
    padding-top: 2rem;
}
.tasty_simple h3{
    padding-top: 2rem;
}

.wp{
    padding-left: 2rem;
    padding-top: 1rem;
    padding-bottom: 4rem;
}

main{
    display:grid;
}



footer{
    padding-left: 2rem;
    padding-top: 3rem;
    padding-bottom: 1rem;
    font-size: 10px;
}

@media screen and (min-width:800px) {

    .grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 2;
        padding: 0 2rem;
    }
    header{
        display: grid;
    }
    body{
        display: grid;
        padding-left: 8rem;
    }
    div{
        display: grid;
    }

    .mh{
        display: grid;
        grid-column: 2 / 2;
        padding-left: 20rem;

    }  
    img{
        display: grid;
        max-width: 800px;
        padding-left: 2rem;
        padding-top: 6rem;
    }
    .LetterNumber{
        display: grid;
    }
    .letterNumber h2{
        grid-column: 2 /2;
        grid-row: 2 / 1;
        padding-top: 6rem;
    }
    .pink{
        font-size: 32px;
    }

    p{
        max-width: 800px;
    }
    .ln{
        max-width: 1000px;
    }
    .letterhead{
        display: grid;
    }
    .letterhead h2{
        grid-column: 5 / 5;
        padding-left: 1rem;
    }
    .BrookeStysDesigns{
        display: grid;
    }
    .BrookeStysDesigns h2{
        grid-column: 2 / 2;
        grid-row: 2 / 1;
        padding-top: 6rem;
    }


    .Charlies{
        display: grid;
    }
    .Charlies h2{
        grid-column: 2 /2;
        grid-row: 2 / 1;
        padding-top: 6rem;
        padding-right: 4rem;
    }
    .Tasty_Simple{
        display: grid;
    }
    .Tasty_Simple h2{
        grid-column: 2 / 2;
        grid-row: 2 / 1;
        padding-top: 6rem;
        padding-right: 7rem;

    }
    footer{
        font-size: 12px;
        font-weight: lighter;
        padding-top: 4rem;
    }

}